<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/js/materialize.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
    <p>Hi stranger two.</p>
</body>
</html>